<div>
  <div ng-include="'partials/profile.html'"></div>
  <div class="container">
    <div class="row">
      <div ng-repeat="board in boardArray">
        <div class="card col-md-4 {{board.boardId}}">
          <h4 class="name brand">{{board.name}}</h4><span class="delete glyphicon glyphicon-remove" ng-click="deleteBoard(board.boardId)"></span>
          <p>Category: {{board.category}}</p>
          <p>Description: {{board.description}}</p><hr>
          <div ng-repeat="pin in board.pins ">
            <div class="{{pin.pinId}}">
              <p class="pinName">{{pin.name}}</p><!-- <span class="deletePin glyphicon glyphicon-remove" ng-click="delete(pin.pinId)"></span> -->
              <p>{{pin.description}}</p>
              <img class="pinImg" ng-src="{{pin.url}}"/>
              <hr>
            </div>
          </div>
          <a class='addpin' ng-href="#/newpin" ng-click="boardIdToPin(board.boardId)">Add a Pin</a>
          <!-- <button class="btn btn-danger" ng-click="deleteBoard(board.boardId)">Delete</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
