<div ngn-controller="BoardCtrl">
  <div class="container">
    <div class="row">
      <div ng-repeat="board in boardArray">
        <div class="col-md-4 {{board.boardId}}">
          <h4>{{board.name}}</h4>
          <p>{{board.category}}</p>
          <p>{{board.description}}</p>
          <a ng-href="#/newpin" ng-click="boardIdToPin(board.boardId)">Add a Pin</a>
          <button class="btn btn-danger" ng-click="deleteBoard(board.boardId)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>